body{
	min-height: 100vh;
	vertical-align: middle;
	justify-content: center;
	font-family: Mon Korinna;
}
main{

}
article{
	padding: 10vh;
	margin: auto;
	min-height: 30vh;
	display: none;
}
h1{
	margin: auto;
	width: 70%;
	text-align: center;
}
#death{
	padding: 1vh;
	min-height: 10vh;
}
#start{
	display: block;
}
#death{
	color: red;
}
.content{
	padding: 10px;
}
#hint{
	float: right;
}
#hint:hover span{
	color: white;
}
.hint1:hover:before{
	content: "It is a fruit";
}
.hint2:hover:before{
	content: "I have so many keys";
}
.hint3:hover:before{
	content: "You write me";
}
.hint4:hover:before{
	content: "Think Logical";
}
.hint5:hover:before{
	content: "I'm cube shaped";
}
